<section class="warehouse">
  <div *ngIf="!displayDropdown">
    <ng-container *ngFor="let warehouse of warehouses; let i = index">
      <button *ngIf="i < 5" class="warehouse-btn" (click)="onSelectWarehouse(i)">
        {{ warehouse.name }}
      </button>
    </ng-container>
  </div>

  <div *ngIf="displayDropdown">
    <select [(ngModel)]="selectedWarehouseIndex" (ngModelChange)="onSelectWarehouse($event)">
      <option *ngFor="let warehouse of warehouses; let i = index" [value]="i">
        {{ warehouse.name }}
      </option>
    </select>
  </div>

  <div class="warehouse-grid" *ngIf="selectedWarehouse">
    <h2>Currently viewing: {{ selectedWarehouse.name }}</h2>
    <div class="warehouse-items">
      <div *ngFor="let trayId of trayIds" class="warehouse-item">
        <div *ngIf="selectedWarehouse.items[trayId] as item; else emptySquare">
          Tray ID: {{ trayId }}, Item Name: {{ item.name }}, Description: {{ item.description }}
        </div>
        <ng-template #emptySquare>
          <div class="empty-square">Empty Tray {{ trayId }}</div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
