<div class="overflow-x-auto  border-2 border-slate-500 border-solid p-4 rounded-xl">
    <table class="table">
        <thead>
            <tr>
                <th>Parts</th>
            </tr>
        </thead>
        <tbody>
            @for (part of jsonResponse; track part) {
                <tr class="hover">
                    <td> {{ part.id }} </td>
                    <td> {{ part.name }} </td>
                    <td> {{ part.description }} </td>
                    <td> {{ part.supplierDetails }} </td>
                    <td> {{ part.price }} </td>
                </tr>
            }
    </table>
</div>