<p>parts-list works!</p>

<div class="overflow-x-auto  border-2 border-slate-500 border-solid p-4 rounded-xl">
    <table class="table">
        <thead>
            <tr>
                <th>Blueprints</th>
            </tr>
        </thead>
        <tbody>
            @for (blueprint of jsonResponse; track blueprint) {
                <tr class="hover">
                    <td> {{ blueprint.id }} </td>
                    <td> {{ blueprint.productTitle }} </td>
                    <td> {{ blueprint.description }} </td>
                </tr>
            }
    </table>
</div>