<div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>Time</th>
          <th>Name</th>
          <th>Battery</th>
          <th>Program</th>
          <th>State</th>
          <th>User id</th>
        </tr>
      </thead>
      <tbody>
        @for (log of machineLogs$(); track $index) {
        <tr>
          <th>{{log.timestamp}}</th>
          <td>{{log.machine_name}}</td>
          <td>{{log.action}} %</td>
        </tr>
    }
      </tbody>
    </table>
  </div>